@font-face {font-family: 'iran_sans';src: url('../fonts/IRANSansWeb(FaNum)_UltraLight.eot?#') format('eot'), url('../fonts/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), url('../fonts/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), url('../fonts/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');}
html, body {height: 100%;width: 100%;}
body {padding-top: 50px;overflow-x: hidden;overflow-y: scroll;font-family: 'iran_sans' !important;background-color: #f0f4f7 !important;}
.mypanel {border: 1px solid #e4e4e4;background: #f9f9f9;padding: 15px;margin-bottom: 15px;}
.mypanel h4 {margin: 0 0 15px 0;padding: 0 0 15px 0;border-bottom: 1px solid #e4e4e4;}
