.wave {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.68,-.55,.265,1.55);
    -moz-transition: -moz-transform .3s cubic-bezier(.68,-.55,.265,1.55);
    -o-transition: -o-transform .3s cubic-bezier(.68,-.55,.265,1.55);
    transition: -webkit-transform .3s cubic-bezier(.68,-.55,.265,1.55),-moz-transform .3s cubic-bezier(.68,-.55,.265,1.55),-o-transform .3s cubic-bezier(.68,-.55,.265,1.55),transform .5s cubic-bezier(.68,-.55,.265,1.55);
}
.wave:after {
    content: "";
    top: 8px;
    right: 9px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: -webkit-radial-gradient(center center,farthest-side circle,rgba(26,175,93,0) 70%,#f5f5f5 100%);
    background-image: -moz-radial-gradient(center center,farthest-side circle,rgba(26,175,93,0) 70%,#f5f5f5 100%);
    background-image: -o-radial-gradient(center center,farthest-side circle,rgba(26,175,93,0) 70%,#f5f5f5 100%);
    background-image: radial-gradient(center center,farthest-side circle,rgba(26,175,93,0) 70%,#f5f5f5 100%);
    border: 1px solid #fff;
    -webkit-animation: wave 5s 3s infinite linear;
    -moz-animation: wave 5s 3s infinite linear;
    -o-animation: wave 5s 3s infinite linear;
    animation: wave 5s 3s infinite linear;
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@-webkit-keyframes wave {
    5% {
        opacity: 0.6;
    }
    27% {
        -webkit-transform: scale(1.8);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes wave {
    5% {
        opacity: 0.6;
    }
    27% {
        -moz-transform: scale(1.8);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes wave {
    5% {
        opacity: .6;
    }
    27% {
        -o-transform: scale(1.8);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes wave {
    5% {
        opacity: .6;
    }
    27% {
        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        -ms-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}